@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  margin-top: 1.5rem;
}

.spacer {
  flex: 1 1 auto;
}